html { 
  background: url(../images/image1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background: none;
	color: #0090ff;
}

#mainDiv {
	text-align: center;
	margin-top: 10%;
	width: 33%;
}

#city {
	text-align: center;
	margin: 5% 0;
}

#forecastDiv {
	
}
.alert {
	width: 40%;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;	
}

